.management-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  padding: 10px 0;

  * {
    width: 100%;
  }

  .form-add {
    display: flex;
    min-width: 250px;
  }
}

.search-wrapper {
  display: flex;
  column-gap: 20px;
  justify-content: space-between;
  padding: 10px 0;

  * {
    width: 100%;
  }
}

.list-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  .todo-element {
    position: relative;
    display: flex;
    column-gap: 20px;
    padding: 20px 0;

    .element__delete {
      position: absolute;
      right: 0;
      top: 0;
    }

    .element__date {
      position: absolute;
      right: 0;
      bottom: 0;
    }

    &:hover {
      background-color: rgb(217, 217, 217);
    }
  }
}

.btn {
  border: none;
  background-color: rgb(174, 174, 174);
  border: 2px solid transparent;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }

  &:active {
    border: 2px solid rgb(86, 86, 86);
  }
}
